img {
  max-width:300px;
  max-height:300px;
  width:auto;
  height:auto;
  border-radius:3px;
}


#widgetCard {
  background-color: #232F42;
  border-style: solid;
  border-color: #fffdd0;
  border-width: 2px;
  margin-bottom: 6px;
  color: #fffdd0;

}


#inner {
  padding-left: 10px;
  padding-top: 10px;
}

#inner-image {
  padding-left: 10px;
  padding-right:10px;
  padding-bottom:10px;
}

a{
  padding-bottom:6px;
}


