.right-side{
  float:right;
}

.navbar{
  background-color: #1e273d;
  margin-bottom: 10px;
  color: #fffdd0;
  border-style: solid;
  border-color: #fffdd0;
  border-width: 2px;
  border-top-style: none;
}

#arrow{
  color: #fffdd0;
}

#inner{
  position:absolute;
}
