.active.wbdv {
    background-color: #8196B7;
    border-style: solid;
    border-color: #fffdd0;
    border-width: 2px;
  }

.wbdv {
  color: #fffdd0;
  background-color: #2d3c54;
  border-style: solid;
  border-color: #fffdd0;
  border-width: 2px;
}

h4{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;

}


a{
  color: white;

}


